.wrapper {
  padding: 10px;
  display: grid;
  grid-template-areas: "show send";
  grid-template-rows: 100vh;
  grid-template-columns: 8fr 5fr;

  .addPost {
    grid-area: send;
    padding: 20px;
    background-color: dodgerblue;
    text-align: center;

    .sendButton{
      display: block;
      margin: 0 auto;
    }
  }

  .showPosts {
    grid-area: show;
    padding: 20px;
    background-color: wheat;

    .post {
      margin-bottom: 20px;
    }
  }
}
