.wrapper {
	padding: 5px;
	display: grid;
	grid-template-areas:
		'contacts addMessage'
		'contacts showMessage';
	grid-template-columns: 2fr 10fr;
	grid-template-rows: 20vh 80vh;

	.contacts {
		grid-area: contacts;

		a {
			display: block;
		}
	}

	.showMessage {
		grid-area: showMessage;
		background-color: lightpink;
		padding: 10px;
		overflow-y: auto;

		.message {
			margin-bottom: 10px;
		}
	}

	.addMessage {
		grid-area: addMessage;
		padding: 10px;
		background-color: cadetblue;

		button {
			display: block;
			margin: 0;
		}
	}
}
